# Ignore everything except the source code and necessary files

# Ignore the out folder (static export)
out/

# Node.js dependencies
node_modules/
yarn.lock

# Next.js build artifacts
.next/
.cache/


# Temporary files
.DS_Store
*.swp
*.log

# Ignore deployment script
!deploy.sh

# Allow package-lock.json to be tracked
!package-lock.json
